body {
    font-family: 'Roboto', sans-serif;
    margin: 0px 16px;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header-link {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.header-link a {
    color: #E5E7EB;
    text-decoration-line: none;
    font-size: 18px;
}

.content-top {
    display: flex;
    color: white;
    gap: 24px;
    padding-top: 72px;
}

.content-top h1, .content-top p {
    margin: 0;
}

.content-top h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
}

.left, .right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.left {
    gap: 8px;
}

.right {
    background-color: #6d747d;
    justify-content: center;
    align-items: center;
}

.signup-top {
    align-self: flex-start;
    background-color: #3882F6;
    color: white;
}